<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;color: rgb(2, 27, 19);margin-top: 50px;">Greetings! Investors</h2>
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
    <button id="login-btn" class="toggle-btn">Login</button>
    <button id="register-btn" class="toggle-btn">Register</button>
            </div>
            <form action="/login" method="post" id="login" class="input-grp">
                <input type="text" class="inp-field" placeholder="User Id" name="username" required>
                <input type="text" class="inp-field" placeholder="Enter Password" name="password" required>
                <input type="submit" class="submit-btn" value="Log In">
            </form>
            <form action="/register" method="post" id="register" class="input-grp">
                <input type="text" class="inp-field" placeholder="User Id" name="username" required>
                <input type="email" class="inp-field" placeholder="Email Id" name="email" required>
                <input type="text" class="inp-field" placeholder="Enter Password" name="password" required>
                <input type="submit" class="submit-btn" value="Register">
            </form>
        </div>
    </div>

    <script src="/stocks/script.js">
       
    </script>
</body>
</html>