*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}
body {
    background-image: url('/assets/original-bcdb1b38f8c1361733a0b144101ebbee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin:6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00a65e1f;
    border-radius: 20px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#0df13a,#06d1ff);
    border-radius: 20px;
}
.input-grp{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.inp-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
   background: linear-gradient(to right,#0df13a,#06d1ff);
   border: 0;
   outline: none;
   border-radius:20px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}